#app {
  display: grid;
}

.is--index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 3px;
  background: #333;
  .filename {
    background: #fff;
    padding: 10px;
    grid-column: ~"1 / 3";
    grid-row: ~"1 / 2";
    label {
      font-size: 14px;
      padding: 0 0 5px 0;
      display: block;
    }
  }
  .input-editor {
    grid-column: ~"1 / 2";
    grid-row: ~"2 / 3";
    background: #fff;
    * {
      font-size: 12px !important;
      font-family: 'Consolas', monospace !important;
    }
    display: grid;
    div.vue-codemirror {
      display: grid;
    }
    .CodeMirror {
      height: auto;
    }
  }
  .output {
    grid-column: ~"2 / 3";
    grid-row: ~"2 / 3";
    background: #fff;
  }
}